%address
  %type= "urn:openhbx:terms:v1:address_type##{address.address_type}"
  %address_line_1= address.address_1
  - if address.address_2.present?
    %address_line_2= address.address_2
  - if address.address_3.present?
    %address_line_3= address.address_3
  %location_city_name= address.city
  %location_state_code= address.state
  %postal_code= address.zip
  - if address.zip_extension
    %location_postal_extension_code= address.zip_extension
  - if address.country_name.present?
    %location_country_name= address.country_name
