= render 'shared/v2/identity', id: api_v2_people_url(hbx_id: person.authority_member_id), obj: person
%n1:person
  = render 'shared/v2/person', person: person
- unless person.person_relationships.empty?
  = render 'shared/v2/relationships', person: person
- authority_member = person.authority_member
= render 'shared/v2/person_demographics', member: authority_member
- if false #TODO
  %n1:is_primary_applicant
- if false #TODO
  %n1:is_coverage_applicant
- if person.employer.present?
  %n1:employer_links
    %n1:employer_link= render 'shared/v2/employer_link_type', employer: person.employer
- if false #TODO
  %n1:is_head_of_household
- if false #TODO
  %n1:is_without_assistance
- if false #TODO
  %n1:is_enrolled_in_employer_sponsored_coverage
- if false #TODO
  %n1:is_insurance_assistance_eligible
- if false #TODO
  %n1:is_medicaid_chip_eligible
- if authority_member.hlh.present?
  %n1:person_health
    %n1:is_tobacco_user= authority_member.hlh
%n1:is_active= person.is_active
- unless person.comments.empty?
  = render 'shared/v2/comments', object: person
- if person.version.present?
  = render 'shared/v2/timestamp', record: person
