%phone
  %type= "urn:openhbx:terms:v1:phone_type##{phone.phone_type}"
  - if phone.country_code.present?
    %country_code= phone.country_code
  - if phone.area_code.present?
    %area_code= phone.area_code
  %phone_number= phone.phone_number
  - if phone.full_phone_number.present?
    %full_phone_number= phone.full_phone_number
  - else
    %full_phone_number= phone.phone_number
  - if phone.extension.present?
    %extension= phone.extension
  - if phone.primary.present?
    %is_preferred= phone.primary
  - else
    %is_preferred= false
