<%- model_class = ApplicationGroup -%>
<%t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<div class="page-header">
  <%= render 'shared/breadcrumb', crumbs: ['Application Groups'] %>
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Primary Applicant</th>
      <th>No. Applicants</th>
      <th>No. Enrollments</th>
      <th>Submitted Date</th>
    </tr>
  </thead>
  <% @application_groups.each do |ag| %>
    <tbody>
      <tr>
        <td><%= link_to prepend_glyph_to_name(ag.primary_applicant_id), application_group_path(ag) %> </td>
        <td><%= ag.applicants.size %></td>
        <td><%= ag.hbx_enrollments.size %></td>
        <td><%= ag.submitted_date %></td>
      </tr>
    </tbody>
  <% end %>
  </table>


<div class="row">
  <div class="col-md-8">
    <%= paginate @application_groups, theme: "twitter-bootstrap", pagination_class: "pagination-plain" %>
  </div>
  <div class="rol-md-4">
    <p><%= "#{number_with_delimiter(@application_groups.count)} / #{number_with_delimiter(ApplicationGroup.count)} " %><small>(Application Groups selected / total)</small></p>
  </div>
</div>
