%person_demographics
  - unless person_demographics.authority_member.ssn.blank?
    %ssn= person_demographics.authority_member.ssn
  - if person_demographics.authority_member.gender.blank?
    %sex= "urn:openhbx:terms:v1:gender#unknown"
  - else
    %sex= "urn:openhbx:terms:v1:gender##{person_demographics.authority_member.gender}"
  %birth_date= simple_date_for(person_demographics.authority_member.dob)
