- model_class = EdiOpsTransaction
- t '.title', :default => model_class.model_name.human.pluralize.titleize
.page-header
  = render 'shared/breadcrumb', crumbs: ['EdiIssues']
.col-md-12
  %table.table.table-condensed
    %thead
      %tr
        %th Enrollment Group Id
        %th Resource
        %th Event Name
        %th= sortable "submitted_timestamp", "Submitted Timestamp"
        %th= sortable "aasm_state", "Status"
        %th= sortable "assigned_to", "Assigned To"
    %tbody
      - @edi_issues.each do |ed|
        %tr
          %td= link_to ed.enrollment_group_uri, edi_issue_path(ed)
          %td= ed.event_key
          %td= ed.event_name.gsub(/^urn:openhbx:events:v1:individual#/,"")
          %td= ed.submitted_timestamp.strftime('%m-%d-%Y %l:%M %p')
          %td= ed.aasm_state
          %td= ed.assigned_to.present? ? ed.assigned_to : "Unassigned"

.row
  .col-md-8
    = paginate @edi_issues, theme: "twitter-bootstrap", pagination_class: "pagination-plain"
  .col-md-4
    %p
      = "#{number_with_delimiter(@edi_issues.count)} / #{number_with_delimiter(EdiOpsTransaction.count)} "
      %small (transactions selected / total)