- model_class = EdiOpsTransaction
- t '.title', :default => model_class.model_name.human.titleize
.page-header
  = render 'shared/breadcrumb', crumbs: [@edi_issue.enrollment_group_uri]
.row
  .col-md-4
    %dl.dl-horizontal
      %dt
        = model_class.human_attribute_name(:assigned_to)
        \:
      %dd= @edi_issue.assigned_to
      %dt
        = model_class.human_attribute_name(:resolved_by)
        \:
      %dd= @edi_issue.resolved_by
      %dt
        = model_class.human_attribute_name(:aasm_state)
        \:
      %dd= @edi_issue.aasm_state
      %dd= link_to "Edit", edit_edi_issue_path(@edi_issue), class: "btn btn-primary", remote: true
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          %span.fui-document  
          Headers
      .panel-body
        %pre
          %code.json= @edi_issue.payload.to_json
.col-md-12
  .well.well-sm.default
    .form-actions
      = link_to t('.back', :default => t("helpers.links.back")), edi_issues_path, :class => 'btn btn-primary'