<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>HBX ID</th>
      <th>Gender</th>
      <th>Date of Birth</th>
      <th>SSN</th>
      <th>Citizen Status</th>
      <th>Marital Status</th>
    </tr>
  </thead>
  <tbody>
    <%= table_empty_to_human if family_members.size < 1 %>
    <% family_members.each do |a| %>
    <tr>
      <td><span class="fui-credit-card">&nbsp;</span> <%= a.full_name %></td>
      <td><%= a.authority_member.hbx_member_id %></td>
      <td><%= a.authority_member.gender %></td>
      <td><%= a.authority_member.dob %></td>
      <td><%= a.authority_member.ssn %></td>
      <td><%= a.authority_member.citizen_status %></td>
      <td><%= a.authority_member.marital_status %></td>
    </tr>
    <% end %>
  </tbody>
</table>
