<table class="table table-condensed">
  <thead>
    <tr>
      <th>Kind</th>
      <th>Status</th>
      <th>Event Date</th>
      <th>Submitted Date</th>
      <th>SEP Start Date</th>
      <th>SEP End Date</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <%= table_empty_to_human if qualifying_life_events.size < 1 %>
    <% qualifying_life_events.each do |qle| %>
    <tr>
      <td><span class="fui-credit-card">&nbsp;</span> <%= qle.aasm_state %></td>
      <td><%= qle.kind %></td>
      <td><%= qle.status %></td>
      <td><%= qle.event_date %></td>
      <td><%= qle.submitted_date %></td>
      <td><%= qle.sep_start_date %></td>
      <td><%= qle.sep_end_date %></td>
      <% qle.comments.each do |c| %>
        <%= "Show comment here" %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
