<%= form_for @user, layout: :inline do |f| %>

		<div class="panel">
			<div class="row">
				<div class="col-md-4">
					<%= f.email_field :email %>
					<%= f.check_box :approved, label: "Approved?" %>
				</div>
				<div class="col-md-4">
				  <%= f.select :role,  User::ROLES, {}, { class: "select select-primary", data: { toggle: "select"} } %>
				</div>
			</div>
		</div>

		<div class="well well-sm well-default">
			<div class="form-actions">
				<%= f.button :Submit , :class => 'btn btn-primary'  %>
				<%= link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-default' %>
			</div>
	  </div>
<% end %>
