%household
  %id
    %id= household._id
  %irs_group_id= household.irs_group.hbx_assigned_id
  %start_date= simple_date_for(household.effective_start_date)
  %end_date = simple_date_for(household.effective_end_date)
  %coverage_households
    -if household.coverage_households.any?
      -household.coverage_households.each do |coverage_household|
        = render "shared/coverage_household.xml.haml", :coverage_household => coverage_household
  %tax_households
    -if household.tax_households.any?
      %tax_household
      -household.tax_households.each do |th|
        = render "shared/tax_household.xml.haml", :tax_household =>  th
    

