%tax_household
  %id
    %id= tax_household.id
    - primary_filer = tax_household.primary
    - primary_member = primary_filer.blank? ? tax_household.family.primary_applicant : primary_filer.family_member
    %primary_applicant_id
      %id= primary_member.person.authority_member_id
    %allocated_aptcs
      %allocated_aptc
        %calender_year= Date.today.year.to_s
        %total_amount= tax_household.allocated_aptc_in_dollars
    - if tax_household.tax_household_members.any?
      %tax_household_members
        - tax_household.tax_household_members.each do |thm|
          = render "shared/tax_household_member", :tax_household_member => thm
    - if tax_household.eligibility_determinations.any?
      %eligibility_determinations
        - tax_household.eligibility_determinations.each do |elig_determine|
          %eligibility_determination
            %id
              %id= elig_determine.id
              %alias_ids
                %alias_id
                  %id= "urn:curam:pdc_id##{elig_determine.e_pdc_id}"
            %maximum_aptc= elig_determine.max_aptc_in_dollars
            %csr_percent= elig_determine.csr_percent_as_integer
            %determination_date= simple_date_for(elig_determine.determination_date)
    %start_date= simple_date_for(tax_household.effective_start_date)
    - if !tax_household.effective_end_date.blank?
      %end_date= simple_date_for(tax_household.effective_end_date)
