.row
  .col-md-offset-8.col-md-4
    = render 'shared/search', url: errors_edi_transaction_sets_path, q: @q, placeholder: "Errors, Receiver Name"

%table.table.table-condensed
  %thead
    %tr
      %th Transaction
      %th Created GMT
      %th Submitted GMT
      %th Sender
      %th Error List
  %tbody
    = table_empty_to_human if @transaction.count < 1
    - @transaction.each do |t|
      %tr
        %td.col-md-1
          = link_to "#{t.st01}_#{t.transaction_kind}_#{t.transmission.gs02}", edi_transaction_set_path(t)
        %td.col-md-1
          = t.created_at.strftime("%m-%d-%Y %H:%M:%S")
        %td.col-md-1
          = t.submitted_at.strftime("%m-%d-%Y %H:%M:%S")
        %td.col-md-1
          = t.transmission.sender.name
        %td.col-md-9
          = t.error_list

.row
  .col-md-8
    = paginate @transaction, theme: "twitter-bootstrap", pagination_class: "pagination-plain"
  .rol-md-4
    %p
      = "#{number_with_delimiter(@transaction.to_a.count)} / #{number_with_delimiter(Protocols::X12::TransactionSetEnrollment.count)} "
      %small (transactions selected / total)