%header
  %hbx_id DC0
%event
  %body
    %enrollment_event_body
      %affected_members
        = render :partial => "enrollment_events/affected_member", :collection => affected_members
      %transaction_id= transaction_id
      %is_trading_partner_publishable true
      %enrollment
        %transaction_id= transaction_id
        %type= event_type 
        %market= policy.is_shop? ? "urn:openhbx:terms:v1:aca_marketplace#shop" : "urn:openhbx:terms:v1:aca_marketplace#individual"
        %policy
          = render :partial => "enrollment_events/policy", :object => policy, :locals => { :enrollees => enrollees }
