<div class="page-header">
  <%= render 'shared/breadcrumb', crumbs: ['Carrier Audit Generation'] %>
</div>

<%= form_for @carrier_audit, layout: :inline do |ca| %>
	<%= ca.label :cutoff_date %>:   
	<%= ca.text_field :cutoff_date, as: :string,
		start_year: Date.today.year - 110,
		end_year: Date.today.year,
		placeholder: "mm/dd/yyyy",
		class: "date_picker",
		value: ca.object.cutoff_date.try(:strftime, "%m/%d/%Y") %><br><br>
	
	Market: 
	<%= ca.radio_button :market, 'individual', label: "Individual" %>
	<%= ca.radio_button :market, 'shop', label: "SHOP" %><br><br>

	Carriers:<br>
	<% @carriers.each do |carrier| %>
		<%= check_box_tag "carrier_ids[]","#{carrier.id}" %> <%= carrier.name%><br>
	<% end %>
	<br>
	<%= ca.submit 'Generate Audit Files' %>
<% end %>