.row
  .col-md-12
    %table.table.table-condensed
      %thead
        %tr
          %th Enrollment Group Id
          %th= sortable "event_key", "Resource"
          %th Event Name
          %th= sortable "submitted_timestamp", "Submitted Timestamp"
          %th= sortable "aasm_state", "Status"
          %th= sortable "assigned_to", "Assigned To"
          %th= sortable "resolved_by", "Resolved By"
      %tbody
        - @edi_ops_transactions.each do |ed|
          %tr
            %td= link_to ed.enrollment_group_uri.gsub(/^dc0:enrollment_group_id:/,""), edit_edi_ops_transaction_path(ed)
            %td= ed.event_key
            %td= ed.event_name.gsub(/^urn:openhbx:events:v1:individual#/,"")
            %td= ed.submitted_timestamp.strftime('%m-%d-%Y %l:%M %p')
            %td= transaction_status_to_label(ed)
            %td= ed.assigned_to.present? ? ed.assigned_to : "Unassigned"
            %td= ed.resolved_by.present? ? ed.resolved_by : "Unresolved"