<%- model_class = Policy -%>
<%t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<div class="page-header">
  <%= render 'shared/breadcrumb', crumbs: ['Policies'] %>

  <div class="row">
    <div class="col-md-offset-8 col-md-4">
      <%= render 'shared/search', url: policies_path, q: @q, placeholder: "EG ID, Member ID, Policy ID" %>
    </div>
  </div>
</div>

<%= render "policy_list", policies: @policies %>

<div class="row">
  <div class="col-md-8">
    <%= paginate @policies, theme: "twitter-bootstrap", pagination_class: "pagination-plain" %>
  </div>
  <div class="rol-md-4">
    <p><%= "#{number_with_delimiter(@policies.count)} / #{number_with_delimiter(Policy.count)} " %><small>(policies selected / total)</small></p>
  </div>
</div>
